<div class="relative overflow-x-auto">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs border-b border-custom-light-gray/40 dark:text-custom-light-gray"
    >
      <tr>
        <th scope="col" class="px-6 py-6">Flag</th>
        <th scope="col" class="px-6 py-6">Name</th>
        <th scope="col" class="px-6 py-6">Population</th>
        <th scope="col" class="px-6 py-6">Area (km²)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            src="https://flagcdn.com/ad.svg"
            alt=""
            class="w-12 h-8 rounded-md object-cover"
          />
        </th>
        <td class="px-6 py-4">Silver</td>
        <td class="px-6 py-4">Laptop</td>
        <td class="px-6 py-4">$2999</td>
      </tr>
      <tr>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            src="https://flagcdn.com/ad.svg"
            alt=""
            class="w-12 h-8 rounded-md object-cover"
          />
        </th>
        <td class="px-6 py-4">Silver</td>
        <td class="px-6 py-4">Laptop</td>
        <td class="px-6 py-4">$2999</td>
      </tr>
      <tr>
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          <img
            src="https://flagcdn.com/ad.svg"
            alt=""
            class="w-12 h-8 rounded-md object-cover"
          />
        </th>
        <td class="px-6 py-4">Silver</td>
        <td class="px-6 py-4">Laptop</td>
        <td class="px-6 py-4">$2999</td>
      </tr>
    </tbody>
  </table>
</div>
