<div class="relative overflow-x-auto">
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs border-b border-custom-light-gray/40 dark:text-custom-light-gray"
    >
      <tr>
        @for (header of headers; track $index) {
        <th scope="col" class="px-6 py-6">{{ header }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (country of countries; track country.name) { @defer (on viewport) {
      <ng-container
        *ngTemplateOutlet="countryRow; context: { $implicit: country }"
      />

      } @placeholder {
      <tr>
        <ng-container *ngTemplateOutlet="placeholder"></ng-container>
      </tr>
      } } @empty {
      <tr>
        <td
          class="text-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          [colSpan]="headers.length"
        >
          No countries found
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<ng-template #countryRow let-country>
  <tr>
    <th
      scope="row"
      class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
    >
      <img
        [src]="country?.flags?.svg ?? 'assets/Logo.svg'"
        [alt]="'Flag of' + country.name"
        class="w-12 h-8 rounded-md object-cover"
      />
    </th>
    <td class="text-custom-light px-6 py-4 text-pretty">
      <a routerLink="/country/{{ country?.name?.common }}">{{
        country?.name?.common
      }}</a>
    </td>
    <td class="text-custom-light px-6 py-4">
      {{ country.population | number }}
    </td>
    <td class="text-custom-light px-6 py-4">{{ country.area | number }}</td>
  </tr>
</ng-template>

<ng-template #placeholder>
  <th scope="row" class="px-6 py-4 e">
    <div class="animate-pulse bg-custom-light w-12 h-8 rounded-md"></div>
  </th>
  <td>
    <div class="animate-pulse bg-custom-light w-24 h-4 rounded-md"></div>
  </td>
  <td>
    <div class="animate-pulse bg-custom-light w-24 h-4 rounded-md"></div>
  </td>
  <td>
    <div class="animate-pulse bg-custom-light w-24 h-4 rounded-md"></div>
  </td>
</ng-template>
