<article>
  <label
    for="countries"
    class="block mb-2 text-xs font-medium text-custom-light-gray"
    >Sort By</label
  >
  <select
    id="countries"
    class="w-full p-2.5 rounded-lg bg-transparent text-gray-300 border-4 border-custom-dark-gray"
    [formControl]="selectedSortBy"
    (change)="handleSortBy()"
  >
    @for (option of sortByOption; track $index) {
    <option [value]="option" class="bg-custom-dark-gray">
      {{ option | titlecase }}
    </option>
    }
  </select>
</article>
